<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'index.css' %}">
</head>
<body>
    
    <div id="Main">

        <h3>Welcome to MealReady</h3>

        <a href="{% url 'open_signup' %}" class="sign">
            SIGN UP
        </a>

        <a href="{% url 'open_signin' %}" class="sign">
            SIGN IN
        </a>

    </div>

</body>
</html>




